## Export Pandas DataFrame to NoSQL databases using JSON data

#### remove null values when to_json
df.apply(lambda x: [x.dropna()], axis=1).to_json("/Users/mucongl/Downloads/testing123.json")


## Preparation
#### Replace blank/empty string with NaN
df = df.replace("",np.nan,regex=True)

#### Fill NA with NaN
df = df.fillna(np.nan)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

pd.set_option('display.max_columns', None)

In [69]:
# Yelp

df_biz = pd.read_json("/Users/mucongl/Downloads/data/Yelp/yelp_academic_dataset_business.json", lines = True)
df_covid = pd.read_json("/Users/mucongl/Downloads/data/Yelp/yelp_academic_dataset_covid_features.json", lines = True)

In [70]:
df_biz

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209388,9Q0fPWAjUweoFDk0kafuzQ,Nishi Sushi,9750 Weston Road,Vaughan,ON,L4H 2P2,43.838555,-79.559823,4.0,5,0,"{'Ambience': '{'romantic': False, 'intimate': ...","Japanese, Sushi Bars, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
209389,PotiAhtDMYMNsJCzV0oLAw,Walmart,3240 Wilkinson Blvd,Charlotte,NC,28208,35.226307,-80.893539,2.0,13,0,"{'RestaurantsPriceRange2': '1', 'BusinessParki...","Department Stores, Food, Mobile Phones, Fashio...",None
209390,SYa2j1boLF8DcGVOYfHPcA,Five Guys,7014-590 E Camelback Rd,Scottsdale,AZ,85251,33.504062,-111.929431,3.5,97,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","American (New), Food, Burgers, Restaurants, Fa...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
209391,RSSIsgO00OuWQTRoITacpA,Indian Trail Dog Training,,Indian Trail,NC,28079,35.101965,-80.599385,5.0,3,1,None,"Pet Services, Pet Training, Pets","{'Monday': '0:0-0:0', 'Tuesday': '7:0-19:0', '..."
209392,tOcYmewXFhQeZh3V42ymwg,Kudlow Ye,"21 St Clair Avenue E, Suite 401",Toronto,ON,M4T 1L9,43.688214,-79.392756,5.0,3,1,None,"Tax Services, Professional Services, Accountan...","{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ..."

In [71]:
df_covid

,business_id,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered
0,9kXRUIkwdDtnAPO6tVo51g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,H6D5HOTfMjrZt7r1EObZ1g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,FYddq7fUtzobZcw4jOJgVA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,c75jLTjlgA9q3gImLEGT6w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,YfzPiY50h_10Sjlg3mnNWQ,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...
209790,PAuSe4-JzDLq6YO6OKPeTg,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209791,GQEe9qAe2alEA1zzRzUr0w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209792,T-PWmMvktw0nMNO4N5XLXA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209793,stVu6q5hDxQuppwoo6m0EQ,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209794,UYig-qxG9zpzuMKns-1tDg,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [72]:
# Join the two DataFrame according to 'business_id'
df_yelp = pd.merge(df_biz, df_covid, on = 'business_id')

In [73]:
# Filter out just Las Vegas
df_lv = df_yelp[df_yelp.city == 'Las Vegas']

In [74]:
# Filter out just 'Restaurants' from 'categories' column
df_lv_food = df_lv[df_lv.categories.str.contains("Restaurants",na=False)]

In [75]:
# Drop the 'hours' columns
df_lv_food = df_lv_food.drop(columns = ['hours'])

In [76]:
# Filter out only restaurants that are open
df_lv_food = df_lv_food[df_lv_food.is_open == 1]

In [77]:
# Then drop the 'is_open' column
df_lv_food = df_lv_food.drop(columns = ['is_open'])

In [78]:
df_lv_food.shape

(4386, 20)

In [79]:
# Parsing a dictionary in a pandas dataframe cell into new row cells (new columns)
df_lv_food__attributes = df_lv_food.attributes.apply(pd.Series)
# Take only the relevant columns
df_lv_food__attributes_useful = df_lv_food__attributes[[
    'RestaurantsDelivery',
    'RestaurantsTakeOut',
    'RestaurantsReservations',
    'OutdoorSeating',
    'RestaurantsGoodForGroups',
    'DriveThru',
    'ByAppointmentOnly'
    ]]
df_lv_food__attributes_useful

,RestaurantsDelivery,RestaurantsTakeOut,RestaurantsReservations,OutdoorSeating,RestaurantsGoodForGroups,DriveThru,ByAppointmentOnly
86,False,True,False,NaN,NaN,NaN,NaN
101,False,True,False,False,True,True,NaN
157,True,True,False,False,True,False,NaN
238,False,True,False,False,True,NaN,False
246,True,True,True,False,True,NaN,False
...,...,...,...,...,...,...,...
209547,False,True,False,False,True,True,NaN
209572,True,True,True,False,True,NaN,False
209662,False,NaN,NaN,NaN,True,NaN,NaN
209689,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209719,False,True,False,True,True,NaN,False

In [80]:
df = pd.concat([df_lv_food,df_lv_food__attributes_useful], axis = 1)
df = df.drop(columns = ['attributes'])
df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered,RestaurantsDelivery,RestaurantsTakeOut,RestaurantsReservations,OutdoorSeating,RestaurantsGoodForGroups,DriveThru,ByAppointmentOnly
86,OWkS1FXNJbozn-qPg3LWxg,Mama Napoli Pizza,,Las Vegas,NV,89109,36.128561,-115.171130,4.5,11,"Food, Food Trucks, Restaurants, Pizza",FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,False,True,False,NaN,NaN,NaN,NaN
101,MTx-Zdl_KcU_z9G832XAjg,Taco Bell,8033 N Durango Dr,Las Vegas,NV,89131,36.307495,-115.279059,2.5,37,"Fast Food, Restaurants",FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,False,True,False,False,True,True,NaN
157,Yr_w9lakJrKMyEG_hI6zbA,Fat Moe's Pizza & Wings,"6125 W Tropicana Ave, Ste F",Las Vegas,NV,89103,36.099361,-115.226636,4.0,141,"Pizza, Salad, Burgers, Restaurants",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,True,True,False,False,True,False,NaN
238,AN0bWhisCf6LN9eHZ7DQ3w,Los Olivos Ristorante,3759 E Desert Inn Rd,Las Vegas,NV,89121,36.129178,-115.092483,5.0,222,"Restaurants, Italian",FALSE,TRUE,TRUE,FALSE,FALSE,We are open 7 days a week from 2:30 pm to 9:00...,FALSE,FALSE,False,True,False,False,True,NaN,False
246,AtD6B83S4Mbmq0t7iDnUVA,Veggie House,"5115 Spring Mountain Rd, Ste 203",Las Vegas,NV,89146,36.125569,-115.210911,4.5,1142,"Restaurants, Specialty Food, Japanese, Sushi B...",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,True,True,True,False,True,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209547,ak-f8IV0ZdDeI4oYnjA1Pw,Habaneros Taco Grill,4225 S Fort Apache Rd,Las Vegas,NV,89147,36.112881,-115.297498,4.0,286,"Mexican, Fast Food, Restaurants, Tacos",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,False,True,False,False,True,True,NaN
209572,PIXl4WvAqjl2w9Lj81zXvQ,Zest - Bistro & Bar,"10670 Southern Highlands Pkwy, Ste 102",Las Vegas,NV,89141,35.995151,-115.206840,4.5,744,"American (New), Karaoke, Restaurants, Lounges,...",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,True,True,True,False,True,NaN,False
209662,d4Mw96Hb6ZoHEL2AxqGrbg,Ice House America,1735 E Warm Springs Rd,Las Vegas,NV,89119,36.057189,-115.128511,5.0,4,"Restaurants, Food, American (New), Local Services",FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,False,NaN,NaN,NaN,True,NaN,NaN
209689,9r6ijZgxDLJFysxIohtTcQ,Northern China Restaurant,4850 W Flamingo Rd,Las Vegas,NV,89103,36.116440,-115.206268,2.5,3,"Food, Restaurants, Chinese",FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209719,tv-WIUQifcp5J9pUKoiE3Q,Dragon Grille,,Las Vegas,NV,89119,36.076518,-115.153343,4.0,69,"Food, Asian Fusion, Food Trucks, Restaurants",FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,False,True,False,True,True,NaN,False

In [81]:
df = df.drop(columns = ['city','state'])

# Zomato

In [82]:
zomato = pd.read_csv("/Users/mucongl/Documents/Study/MSCA31012_Data_Engineering_Platforms/Data Engineering Final Project/Data output/v3 GCP to Tables - cleaned/depa_final_project_table data_zomato_reviews.csv")

In [83]:
zomato

,xref_id,zomato_review_count,aggregate_rating,user_rating_votes
0,Mon Ami Gabi3655,319,4.6,1214
1,Gordon Ramsay Burger3667,285,4.5,608
2,Bouchon Bistro3355,175,4.6,693
3,Lotus of Siam620,157,4.6,606
4,Mesa Grill3570,222,4.3,812
...,...,...,...,...
95,Hugo's Cellar202,25,4.2,95
96,Eat707,30,4.2,91
97,Yellowtail by Chef Akira Back3600,51,3.9,154
98,RA Sushi Bar Restaurant3200,42,3.9,160
99,Vintner Grill10100,25,4.3,178

In [84]:
yelp_review = pd.read_csv("/Users/mucongl/Documents/Study/MSCA31012_Data_Engineering_Platforms/Data Engineering Final Project/Data output/v3 GCP to Tables - cleaned/depa_final_project_table data_yelp_reviews_table.csv")

In [85]:
yelp_review

,business_id,xref_id,yelp_stars,yelp_review_count
0,_0x7W6fizaPP76xNBxBLAQ,Stephano's Greek & Mediterranean Grill6115,4.0,368
1,_0ZIFTvfcA3UETO_S_JTNA,McDonald's4411,2.0,85
2,_28WWtPWNYlxzl-GY9Gvog,Spicy City4125,2.0,32
3,_2fjiOHfu-S7fS2n4wfySw,Jersey Mike's Subs8680,4.0,83
4,_2Wbpm821bdNsh-gyqufrg,El Pollo Loco6131,2.0,34
...,...,...,...,...
4315,ZZbaD-DKkILA_FvliElciw,Chuck E. Cheese5141-5167,2.0,9
4316,zZCTWJCK8JCNIW1gRwSpWg,Dice and Beans Board Game Cafe4632,4.5,31
4317,ZzERMgdUTkAeFKZFDwPh-A,McDonald's8060,2.5,12
4318,zZkzpVgMP8xaXg3uMscCjQ,PizzaRev2400,4.0,230
4319,Zzl4ffV9kFY3yOSSgyRUBQ,Binion's Gambling Hall128,3.5,309

In [86]:
review_combined = pd.merge(yelp_review, zomato, on = 'xref_id', how = "left")

In [87]:
review_combined

,business_id,xref_id,yelp_stars,yelp_review_count,zomato_review_count,aggregate_rating,user_rating_votes
0,_0x7W6fizaPP76xNBxBLAQ,Stephano's Greek & Mediterranean Grill6115,4.0,368,NaN,NaN,NaN
1,_0ZIFTvfcA3UETO_S_JTNA,McDonald's4411,2.0,85,NaN,NaN,NaN
2,_28WWtPWNYlxzl-GY9Gvog,Spicy City4125,2.0,32,NaN,NaN,NaN
3,_2fjiOHfu-S7fS2n4wfySw,Jersey Mike's Subs8680,4.0,83,NaN,NaN,NaN
4,_2Wbpm821bdNsh-gyqufrg,El Pollo Loco6131,2.0,34,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4315,ZZbaD-DKkILA_FvliElciw,Chuck E. Cheese5141-5167,2.0,9,NaN,NaN,NaN
4316,zZCTWJCK8JCNIW1gRwSpWg,Dice and Beans Board Game Cafe4632,4.5,31,NaN,NaN,NaN
4317,ZzERMgdUTkAeFKZFDwPh-A,McDonald's8060,2.5,12,NaN,NaN,NaN
4318,zZkzpVgMP8xaXg3uMscCjQ,PizzaRev2400,4.0,230,NaN,NaN,NaN
4319,Zzl4ffV9kFY3yOSSgyRUBQ,Binion's Gambling Hall128,3.5,309,NaN,NaN,NaN

In [88]:
review_combined.to_json("/Users/mucongl/Downloads/testing123.json")
# NaN shows as "null"

In [89]:
review_combined = review_combined.drop(columns = ['xref_id','yelp_stars','yelp_review_count'])

# Combined

In [90]:
df = pd.merge(df, review_combined, on = 'business_id', how = 'left')

In [91]:
df

,business_id,name,address,postal_code,latitude,longitude,stars,review_count,categories,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered,RestaurantsDelivery,RestaurantsTakeOut,RestaurantsReservations,OutdoorSeating,RestaurantsGoodForGroups,DriveThru,ByAppointmentOnly,zomato_review_count,aggregate_rating,user_rating_votes
0,OWkS1FXNJbozn-qPg3LWxg,Mama Napoli Pizza,,89109,36.128561,-115.171130,4.5,11,"Food, Food Trucks, Restaurants, Pizza",FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,False,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MTx-Zdl_KcU_z9G832XAjg,Taco Bell,8033 N Durango Dr,89131,36.307495,-115.279059,2.5,37,"Fast Food, Restaurants",FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,False,True,False,False,True,True,NaN,NaN,NaN,NaN
2,Yr_w9lakJrKMyEG_hI6zbA,Fat Moe's Pizza & Wings,"6125 W Tropicana Ave, Ste F",89103,36.099361,-115.226636,4.0,141,"Pizza, Salad, Burgers, Restaurants",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,True,True,False,False,True,False,NaN,NaN,NaN,NaN
3,AN0bWhisCf6LN9eHZ7DQ3w,Los Olivos Ristorante,3759 E Desert Inn Rd,89121,36.129178,-115.092483,5.0,222,"Restaurants, Italian",FALSE,TRUE,TRUE,FALSE,FALSE,We are open 7 days a week from 2:30 pm to 9:00...,FALSE,FALSE,False,True,False,False,True,NaN,False,NaN,NaN,NaN
4,AtD6B83S4Mbmq0t7iDnUVA,Veggie House,"5115 Spring Mountain Rd, Ste 203",89146,36.125569,-115.210911,4.5,1142,"Restaurants, Specialty Food, Japanese, Sushi B...",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,True,True,True,False,True,NaN,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4403,ak-f8IV0ZdDeI4oYnjA1Pw,Habaneros Taco Grill,4225 S Fort Apache Rd,89147,36.112881,-115.297498,4.0,286,"Mexican, Fast Food, Restaurants, Tacos",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,False,True,False,False,True,True,NaN,NaN,NaN,NaN
4404,PIXl4WvAqjl2w9Lj81zXvQ,Zest - Bistro & Bar,"10670 Southern Highlands Pkwy, Ste 102",89141,35.995151,-115.206840,4.5,744,"American (New), Karaoke, Restaurants, Lounges,...",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,True,True,True,False,True,NaN,False,NaN,NaN,NaN
4405,d4Mw96Hb6ZoHEL2AxqGrbg,Ice House America,1735 E Warm Springs Rd,89119,36.057189,-115.128511,5.0,4,"Restaurants, Food, American (New), Local Services",FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,False,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN
4406,9r6ijZgxDLJFysxIohtTcQ,Northern China Restaurant,4850 W Flamingo Rd,89103,36.116440,-115.206268,2.5,3,"Food, Restaurants, Chinese",FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4407,tv-WIUQifcp5J9pUKoiE3Q,Dragon Grille,,89119,36.076518,-115.153343,4.0,69,"Food, Asian Fusion, Food Trucks, Restaurants",FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,False,True,False,True,True,NaN,False,NaN,NaN,NaN

In [92]:
df = df.rename(columns = {"stars": "yelp_stars",
                    "review_count": "yelp_review_count"})

In [93]:
df = df.rename(columns = {"Covid Banner": "covid_banner",
                    "delivery or takeout": "delivery_or_takeout",
                    "Grubhub enabled": "Grubhub_enabled",
                    "RestaurantsDelivery": "restaurants_delivery",
                    "RestaurantsTakeOut": "restaurants_takeOut",
                    "RestaurantsReservations": "restaurants_reservations",
                    "OutdoorSeating": "outdoor_seating",
                    "DriveThru": "drive_through",
                    "aggregate_rating": "zomato_aggregate_rating",
                    "user_rating_votes": "zomato_user_rating_votes"})

In [94]:
df

,business_id,name,address,postal_code,latitude,longitude,yelp_stars,yelp_review_count,categories,highlights,delivery_or_takeout,Grubhub_enabled,Call To Action enabled,Request a Quote Enabled,covid_banner,Temporary Closed Until,Virtual Services Offered,restaurants_delivery,restaurants_takeOut,restaurants_reservations,outdoor_seating,RestaurantsGoodForGroups,drive_through,ByAppointmentOnly,zomato_review_count,zomato_aggregate_rating,zomato_user_rating_votes
0,OWkS1FXNJbozn-qPg3LWxg,Mama Napoli Pizza,,89109,36.128561,-115.171130,4.5,11,"Food, Food Trucks, Restaurants, Pizza",FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,False,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MTx-Zdl_KcU_z9G832XAjg,Taco Bell,8033 N Durango Dr,89131,36.307495,-115.279059,2.5,37,"Fast Food, Restaurants",FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,False,True,False,False,True,True,NaN,NaN,NaN,NaN
2,Yr_w9lakJrKMyEG_hI6zbA,Fat Moe's Pizza & Wings,"6125 W Tropicana Ave, Ste F",89103,36.099361,-115.226636,4.0,141,"Pizza, Salad, Burgers, Restaurants",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,True,True,False,False,True,False,NaN,NaN,NaN,NaN
3,AN0bWhisCf6LN9eHZ7DQ3w,Los Olivos Ristorante,3759 E Desert Inn Rd,89121,36.129178,-115.092483,5.0,222,"Restaurants, Italian",FALSE,TRUE,TRUE,FALSE,FALSE,We are open 7 days a week from 2:30 pm to 9:00...,FALSE,FALSE,False,True,False,False,True,NaN,False,NaN,NaN,NaN
4,AtD6B83S4Mbmq0t7iDnUVA,Veggie House,"5115 Spring Mountain Rd, Ste 203",89146,36.125569,-115.210911,4.5,1142,"Restaurants, Specialty Food, Japanese, Sushi B...",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,True,True,True,False,True,NaN,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4403,ak-f8IV0ZdDeI4oYnjA1Pw,Habaneros Taco Grill,4225 S Fort Apache Rd,89147,36.112881,-115.297498,4.0,286,"Mexican, Fast Food, Restaurants, Tacos",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,False,True,False,False,True,True,NaN,NaN,NaN,NaN
4404,PIXl4WvAqjl2w9Lj81zXvQ,Zest - Bistro & Bar,"10670 Southern Highlands Pkwy, Ste 102",89141,35.995151,-115.206840,4.5,744,"American (New), Karaoke, Restaurants, Lounges,...",FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,True,True,True,False,True,NaN,False,NaN,NaN,NaN
4405,d4Mw96Hb6ZoHEL2AxqGrbg,Ice House America,1735 E Warm Springs Rd,89119,36.057189,-115.128511,5.0,4,"Restaurants, Food, American (New), Local Services",FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,False,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN
4406,9r6ijZgxDLJFysxIohtTcQ,Northern China Restaurant,4850 W Flamingo Rd,89103,36.116440,-115.206268,2.5,3,"Food, Restaurants, Chinese",FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4407,tv-WIUQifcp5J9pUKoiE3Q,Dragon Grille,,89119,36.076518,-115.153343,4.0,69,"Food, Asian Fusion, Food Trucks, Restaurants",FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,False,True,False,True,True,NaN,False,NaN,NaN,NaN

In [95]:
df_final = df[['business_id','name','categories','address','postal_code','latitude','longitude','delivery_or_takeout','Grubhub_enabled','restaurants_delivery','restaurants_takeOut','outdoor_seating','drive_through','covid_banner','yelp_stars','yelp_review_count','zomato_aggregate_rating','zomato_user_rating_votes','zomato_review_count']]

In [96]:
df_final

,business_id,name,categories,address,postal_code,latitude,longitude,delivery_or_takeout,Grubhub_enabled,restaurants_delivery,restaurants_takeOut,outdoor_seating,drive_through,covid_banner,yelp_stars,yelp_review_count,zomato_aggregate_rating,zomato_user_rating_votes,zomato_review_count
0,OWkS1FXNJbozn-qPg3LWxg,Mama Napoli Pizza,"Food, Food Trucks, Restaurants, Pizza",,89109,36.128561,-115.171130,TRUE,FALSE,False,True,NaN,NaN,FALSE,4.5,11,NaN,NaN,NaN
1,MTx-Zdl_KcU_z9G832XAjg,Taco Bell,"Fast Food, Restaurants",8033 N Durango Dr,89131,36.307495,-115.279059,TRUE,FALSE,False,True,False,True,FALSE,2.5,37,NaN,NaN,NaN
2,Yr_w9lakJrKMyEG_hI6zbA,Fat Moe's Pizza & Wings,"Pizza, Salad, Burgers, Restaurants","6125 W Tropicana Ave, Ste F",89103,36.099361,-115.226636,TRUE,TRUE,True,True,False,False,FALSE,4.0,141,NaN,NaN,NaN
3,AN0bWhisCf6LN9eHZ7DQ3w,Los Olivos Ristorante,"Restaurants, Italian",3759 E Desert Inn Rd,89121,36.129178,-115.092483,TRUE,TRUE,False,True,False,NaN,We are open 7 days a week from 2:30 pm to 9:00...,5.0,222,NaN,NaN,NaN
4,AtD6B83S4Mbmq0t7iDnUVA,Veggie House,"Restaurants, Specialty Food, Japanese, Sushi B...","5115 Spring Mountain Rd, Ste 203",89146,36.125569,-115.210911,TRUE,TRUE,True,True,False,NaN,FALSE,4.5,1142,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4403,ak-f8IV0ZdDeI4oYnjA1Pw,Habaneros Taco Grill,"Mexican, Fast Food, Restaurants, Tacos",4225 S Fort Apache Rd,89147,36.112881,-115.297498,TRUE,TRUE,False,True,False,True,FALSE,4.0,286,NaN,NaN,NaN
4404,PIXl4WvAqjl2w9Lj81zXvQ,Zest - Bistro & Bar,"American (New), Karaoke, Restaurants, Lounges,...","10670 Southern Highlands Pkwy, Ste 102",89141,35.995151,-115.206840,TRUE,TRUE,True,True,False,NaN,FALSE,4.5,744,NaN,NaN,NaN
4405,d4Mw96Hb6ZoHEL2AxqGrbg,Ice House America,"Restaurants, Food, American (New), Local Services",1735 E Warm Springs Rd,89119,36.057189,-115.128511,FALSE,FALSE,False,NaN,NaN,NaN,FALSE,5.0,4,NaN,NaN,NaN
4406,9r6ijZgxDLJFysxIohtTcQ,Northern China Restaurant,"Food, Restaurants, Chinese",4850 W Flamingo Rd,89103,36.116440,-115.206268,FALSE,FALSE,NaN,NaN,NaN,NaN,FALSE,2.5,3,NaN,NaN,NaN
4407,tv-WIUQifcp5J9pUKoiE3Q,Dragon Grille,"Food, Asian Fusion, Food Trucks, Restaurants",,89119,36.076518,-115.153343,TRUE,FALSE,False,True,True,NaN,FALSE,4.0,69,NaN,NaN,NaN

In [97]:
df_final.to_json("/Users/mucongl/Downloads/testing1234.json")

# NaN shows as null in JSON

In [98]:
# Fill NA with NaN
df_final = df_final.fillna(np.nan)

In [99]:
# Replace blank/empty string with NaN

df_final = df_final.replace("",np.nan,regex=True)
df_final

,business_id,name,categories,address,postal_code,latitude,longitude,delivery_or_takeout,Grubhub_enabled,restaurants_delivery,restaurants_takeOut,outdoor_seating,drive_through,covid_banner,yelp_stars,yelp_review_count,zomato_aggregate_rating,zomato_user_rating_votes,zomato_review_count
0,OWkS1FXNJbozn-qPg3LWxg,Mama Napoli Pizza,"Food, Food Trucks, Restaurants, Pizza",NaN,89109,36.128561,-115.171130,TRUE,FALSE,False,True,NaN,NaN,FALSE,4.5,11,NaN,NaN,NaN
1,MTx-Zdl_KcU_z9G832XAjg,Taco Bell,"Fast Food, Restaurants",8033 N Durango Dr,89131,36.307495,-115.279059,TRUE,FALSE,False,True,False,True,FALSE,2.5,37,NaN,NaN,NaN
2,Yr_w9lakJrKMyEG_hI6zbA,Fat Moe's Pizza & Wings,"Pizza, Salad, Burgers, Restaurants","6125 W Tropicana Ave, Ste F",89103,36.099361,-115.226636,TRUE,TRUE,True,True,False,False,FALSE,4.0,141,NaN,NaN,NaN
3,AN0bWhisCf6LN9eHZ7DQ3w,Los Olivos Ristorante,"Restaurants, Italian",3759 E Desert Inn Rd,89121,36.129178,-115.092483,TRUE,TRUE,False,True,False,NaN,We are open 7 days a week from 2:30 pm to 9:00...,5.0,222,NaN,NaN,NaN
4,AtD6B83S4Mbmq0t7iDnUVA,Veggie House,"Restaurants, Specialty Food, Japanese, Sushi B...","5115 Spring Mountain Rd, Ste 203",89146,36.125569,-115.210911,TRUE,TRUE,True,True,False,NaN,FALSE,4.5,1142,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4403,ak-f8IV0ZdDeI4oYnjA1Pw,Habaneros Taco Grill,"Mexican, Fast Food, Restaurants, Tacos",4225 S Fort Apache Rd,89147,36.112881,-115.297498,TRUE,TRUE,False,True,False,True,FALSE,4.0,286,NaN,NaN,NaN
4404,PIXl4WvAqjl2w9Lj81zXvQ,Zest - Bistro & Bar,"American (New), Karaoke, Restaurants, Lounges,...","10670 Southern Highlands Pkwy, Ste 102",89141,35.995151,-115.206840,TRUE,TRUE,True,True,False,NaN,FALSE,4.5,744,NaN,NaN,NaN
4405,d4Mw96Hb6ZoHEL2AxqGrbg,Ice House America,"Restaurants, Food, American (New), Local Services",1735 E Warm Springs Rd,89119,36.057189,-115.128511,FALSE,FALSE,False,NaN,NaN,NaN,FALSE,5.0,4,NaN,NaN,NaN
4406,9r6ijZgxDLJFysxIohtTcQ,Northern China Restaurant,"Food, Restaurants, Chinese",4850 W Flamingo Rd,89103,36.116440,-115.206268,FALSE,FALSE,NaN,NaN,NaN,NaN,FALSE,2.5,3,NaN,NaN,NaN
4407,tv-WIUQifcp5J9pUKoiE3Q,Dragon Grille,"Food, Asian Fusion, Food Trucks, Restaurants",NaN,89119,36.076518,-115.153343,TRUE,FALSE,False,True,True,NaN,FALSE,4.0,69,NaN,NaN,NaN

In [107]:
# remove null values when to_json

df_final.apply(lambda x: [x.dropna()], axis=1).to_json("/Users/mucongl/Documents/Study/MSCA31012_Data_Engineering_Platforms/Data Engineering Final Project/Data output/v4 json/restaurants.json")

# success

In [102]:
COVID = pd.read_csv("/Users/mucongl/Documents/Study/MSCA31012_Data_Engineering_Platforms/Data Engineering Final Project/Data output/v3 GCP to Tables - cleaned/depa_final_project_table data_NV_COVIDdata_1129.csv")

In [103]:
COVID

,Unnamed: 0,date,state,positive,negative,totalTestResults,hospitalizedCurrently,inIcuCurrently,onVentilatorCurrently,death,lastUpdateEt,dateModified
0,36,2020-11-28,NV,149229,823887,1622816,1460,317,162,2119,2020-11-28 00:00:00,2020-11-28T00:00:00Z
1,92,2020-11-27,NV,146317,819428,1607005,1440,306,162,2095,2020-11-27 00:00:00,2020-11-27T00:00:00Z
2,148,2020-11-26,NV,144781,814412,1592915,1440,306,162,2093,2020-11-26 00:00:00,2020-11-26T00:00:00Z
3,204,2020-11-25,NV,142239,808477,1574257,1414,312,169,2071,2020-11-25 18:55:00,2020-11-25T18:55:00Z
4,260,2020-11-24,NV,139080,804646,1558626,1399,296,161,2047,2020-11-24 00:00:00,2020-11-24T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...
264,14787,2020-03-09,NV,5,14,126,-1,-1,-1,0,-1,-1
265,14838,2020-03-08,NV,4,14,103,-1,-1,-1,0,-1,-1
266,14889,2020-03-07,NV,4,14,73,-1,-1,-1,0,-1,-1
267,14931,2020-03-06,NV,3,14,48,-1,-1,-1,0,-1,-1
268,14963,2020-03-05,NV,1,14,32,-1,-1,-1,0,-1,-1

In [106]:
COVID = COVID.drop(columns = 'Unnamed: 0')

In [108]:
COVID.apply(lambda x: [x.dropna()], axis=1).to_json("/Users/mucongl/Documents/Study/MSCA31012_Data_Engineering_Platforms/Data Engineering Final Project/Data output/v4 json/COVID.json")